.main-button {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5 10 5 10;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-background-insets: 1 1 1 1;
    -fx-cursor: hand;
    -fx-background-color: rgba(255,255,255,0.5)
}
.main-button .text {
    -fx-stroke-width: 1px;
    -fx-opacity: 1;
}
.main-button:hover {
    -fx-border-color: white;
}
.main-menu {
    -fx-background-image: url("images/download.gif");
    -fx-background-position: center;
    -fx-background-size: cover;
}
.title {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 100;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.title .text {
    -fx-stroke:#ffffff;
    -fx-stroke-width: 1px;
}
.header {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.header .text {
    -fx-stroke:#ffffff;
    -fx-stroke-width: 1px;
}
.goal-label {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.goal-label .text {
    -fx-stroke:#ffffff;
    -fx-stroke-width: 1px;
}
.scrollpaneContent {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-background: white;
    -fx-background-color: white;
    -fx-border-style: hidden solid solid solid;
    -fx-border-width: 2px;
    -fx-opacity:0.7;
}
.input-field {
    -fx-border-radius: 20px;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
}
.input-label {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 34;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.input-label .text {
    -fx-stroke:#ffffff;
    -fx-stroke-width: 1px;
}
.passage {
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}
.passage .label {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 14;
}
.statusbar {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-width: 1px;
}
.health-bar {
    -fx-background-color: red;
}
.score-bar {
    -fx-background-color: purple;
}
.gold-bar {
    -fx-background-color: gold;
}
.heading{
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 15;
}
.content {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 20;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-color: white;
}
.content-box {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}
.inventory {
    -fx-border-color:black;
    -fx-border-style: solid solid solid solid;
    -fx-background-color: rgba(0,0,0, 0.5);
}
.inventory-item:hover {
    -fx-cursor: hand;
    -fx-border-color: gold;
}
.game{
     -fx-background-image: url("images/69e4cc7c-29a2-472c-b35f-a899ac5ef803_rw_1920.jpeg");
}
.links{
      -fx-border-color: #000000;
      -fx-background-color: rgba(0, 0, 0, 0.7);
}
.error-tooltip {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 16;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 10px;
    -fx-padding: 1;
}

.broken-link {
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5 10 5 10;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-background-insets: 1 1 1 1;
    -fx-cursor: hand;
    -fx-background-color: rgba(255,0,0,0.5)
}
.broken-link .text {
    -fx-stroke-width: 1px;
    -fx-opacity: 1;
}
.broken-link:hover {
    -fx-border-color: white;
}

.HTP-label{
    -fx-font-family: 'ARCADECLASSIC';
     -fx-font-size: 48;
     -fx-font-weight: bold;
     -fx-text-fill: #000000;
}
.HTP{
     -fx-border-color:black;
     -fx-background-color: rgba(255,255,255,0.8);
}
.htpText{
     -fx-font-family: 'ARCADECLASSIC';
     -fx-font-size:20;
}

.htpPics{
     -fx-border-color: black;
     -fx-border-width:5;
}
.custom-item-button {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-font-family: 'ARCADECLASSIC';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-background-insets: 1 1 1 1;
    -fx-cursor: hand;
}
.custom-item-button:hover {
    -fx-border-color: white;
}
